.container {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin: 80px 0;

  height: 65vh;
  width: 100%;
  gap: 16px;

  background-color: #f4f4f4;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0;
}

.head {
  display: inline-block;
  border-bottom: 2px solid burlywood;
  padding-bottom: 0.5rem;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}
.item {
  display: flex;
  width: 100%;
}
.name {
  width: 50%;
}
.line {
  width: 50%;
  border-bottom: 2px dotted burlywood;
}
.para {
  color: burlywood;
}
.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: repeat(5, 40px);
  gap: 40px;
  width: 100%;
  margin-top: 20px;
  padding: 30px;
  box-sizing: border-box;
}
