.container {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.link {
  height: 100%;
  width: auto;
  padding: 0 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  position: absolute;
  right: 0;
}
.navlink {
  color: black;
  text-decoration: none;
}
.box {
  height: 100%;
  width: auto;
  position: absolute;
  left: 0;
}
.imagewrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: auto;
  height: 100%;
}

.imagewrapper img {
  width: auto;
  height: auto;
  object-fit: cover;
}
