@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes steamRise {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  60% {
    transform: translateY(-50%);
    opacity: 0.5;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-steam {
  animation: steamRise 8s infinite ease-in-out;
}
